body {
    font-family: "Lucida Grande";
}

#upper-toolbar {
    margin-bottom: 0.4em;
    padding: 0.3em;
}

#search-form {
    float: left;
    margin-right: 3em;
}

#create-form {
    float: left;
    margin-right: 3em;
}

#canvas-panel {
    float: left;
    margin-right: 1.2em;
}

#canvas {
    background: #eee;
}

#document-form {
    line-height: 1.6em;
}

#detail-panel {
    height: 600px;
    overflow: auto;
}

.field-name {
    font-size: 75%;
    font-weight: bold;
    color: gray;
}

.field-value {
    margin-bottom: 1em;
}

.field-value label {
    display: block;
}

.type-icon {
    border-style: none;
}

.menu-icon {
    border-style: none;
    vertical-align: middle;
    padding-right: 12px;
}

#upload-target {
    display: none;
}

/* Contextmenu */

.contextmenu {
    background: white;
    border: 1px solid darkgray;
    font-size: 85%;
    font-weight: bold;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    z-index: 1000;
}

.contextmenu a {
    color: black;
    text-decoration: none;
    display: block;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.contextmenu a:hover {
    color: white;
    background: #555;
}

/* Autocomplete List */

.autocomplete-list {
    position: absolute;
    background: white;
    border: 1px solid darkgray;
    display: none;
}

.autocomplete-list a {
    color: black;
    text-decoration: none;
    display: block;
    padding-left: 0.6em;
    padding-right: 0.6em;
}

.autocomplete-list .active {
    color: white;
    background: #555;
}
